@import '../../styles/partials/mixins.scss';

.next-photo0{
    height: 100%;
    width: 100%;
    background-color: white;
    margin: 0.35rem;
    margin-left: 0;
    object-fit: contain;
    &:hover{
        cursor: pointer;
    }
}

.next-photo1{
    height: 100%;
    width: 100%;
    background-color: white;
    margin: 0.35rem;
    object-fit: contain;
    &:hover{
        cursor: pointer;
    }
}

.next-photo2 {
    height: 100%;
    width: 100%; 
    background-color: white;
    margin: 0.35rem;
    object-fit: contain;
    &:hover{
        cursor: pointer;
    }
}

.next-photo3 {
    height: 100%;
    width: 100%;
    background-color: white;
    margin: 0.35rem;
    object-fit: contain;
    &:hover{
        cursor: pointer;
    }
}

.next-photo4 {
    height: 100%;
    width: 100%;
    background-color: white;
    margin: 0.35rem;
    margin-right: 0;
    object-fit: contain;
    &:hover{
        cursor: pointer;
    }
}

.product-title {
    margin-bottom: 2rem;
    font-size: 24px;
}

.product-description {
    padding-bottom: 1rem;
    width: 100%;
}

.product-price {
    margin-bottom: 1rem;
}

.product-size {
    padding-bottom: 1rem;
}

.selected-container {
    //width: 100%;
    //display: flex;
    //justify-content: center;
    border-radius: 5px;
    width: auto;
}

.selected-photo {
    width: 95%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.item-all {
    margin-left: 8rem;
    margin-right: 8rem;
    display: flex;
    margin-top: 0.5rem;
    justify-content: flex-start;
    align-items: flex-start;
    @include mobile-behavior {
        flex-direction: column;

    }
}

.pay {
    @include desktop-behavior {
        padding-top: 1rem;
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 4rem;
}

.allphotos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.photos {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0.5rem 0rem 0;
    width: 21%;
    height: 15vh;
}

.alltext {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 105%;
    margin-top: 10%;
}

.text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    @include mobile-behavior {
        padding-top: 0.5rem;
    }
    @include desktop-behavior {
        padding-top: 0;
    }
    @include tablet-behavior {
        padding-top: 0;
    }
}