.card {
    border-radius: 4px;
    background-color:aqua;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    padding: 0.25rem 2rem;
}

.photo {
    width: 90%;
    height: 85%;
    background-color: azure;
    margin: 1rem;
    border-radius: 5px;
    &:hover{
        cursor: pointer;
    }
}

.name {
    background-color: unset;
}