@use "../../styles/typography" as *;
@import '../../styles/partials/mixins.scss';

.cardt {
    border-radius: 5px;
    background-color:white;
    width: auto;
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5rem;
    font-size: 1.125rem;
    @include mobile-behavior {
        height: 90%;
        padding-bottom: unset;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    @include tablet-behavior {
        height: 65vw;
    }

    margin-bottom: 0.5rem;
}

.container {
    display: flex;
    justify-content: center;
    margin: 1rem 2rem;
    @include mobile-behavior {
        margin: 1rem 0;
    }
    border-radius: 5px;
    border: 1px solid black;
    @include mobile-behavior {
        height: 100%;
    }

}

.photo {
    min-height: 100%;
    object-fit: scale-down;
    background-color: white;
    border-radius: 7.5px;
    &:hover{
        cursor: pointer;
    }
    @include mobile-behavior {
        margin-bottom: unset;
        min-height: unset;
        width: 100%;
    }
    @include tablet-behavior {

    }
    border: 2px solid rgb(129, 255, 129);
    //box-shadow: rgba(177, 172, 172, 0.5) 0rem 0rem 0.625rem 0.625rem;  

}

.name {
    background-color: unset;
    margin:  0.5rem 0.5rem 0.25rem;
    font-size: 1.475rem;
    padding: 0;
    border-bottom: 1px solid black;
    @include mobile-behavior {
        font-size: 1.25rem;
    }
}

.name2 {
    background-color: unset;
    padding:  0 0.5rem;
    font-family: 'coda';
    font-weight: bold;
    @include mobile-behavior {
        font-size: 0.95rem;
    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: unset;
}

.testborder {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 2px solid rgb(129, 255, 129);
    border-top: unset;
}

.all-prod-title {
    font-size: 1.475rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    display: flex;
    justify-content: center;
    @include mobile-behavior {
        font-size: 1.35rem;
    }
}

.trueh {
    display: none;
}

.falseh {
    color: red;
    margin-bottom: 0.25rem;
}

.falsej {
    display: none;
}
