.footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0.5rem 2rem;
    padding-bottom: 2rem;
}

.footer-upload {
    background-color: chartreuse;
    display: flex;
    justify-content: flex-end;
    padding: 0.25rem;
    border-radius: 4px;
    &:hover{
        cursor: pointer;
        background-color: darkseagreen;
    }
}