@use "../../styles/typography" as *;
@import '../../styles/partials/mixins.scss';

.namething {
    background-color: rgb(246, 246, 246);
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.stores {
    display: flex;
    justify-content: space-around;
    padding: 0 6rem;
    @include mobile-behavior {
        padding: 0;
        margin-left: 0.25%;
        margin-right: 0.25%;
    }
    padding-bottom: 0.5rem;
    background-color: rgb(246, 246, 246);
    margin-left: 0.5%;
    margin-right: 0.5%;
}


.store {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(213, 213, 213);
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    font-family: 'data';
    margin-left: 0.5%;
    margin-right: 0.5%;
    &:hover{
        background-color: aquamarine;
        cursor: pointer;
    }
    font-weight: 500;
    font-size: 20px;
    @include mobile-behavior {
        font-size: 1.125rem;
        margin-left: 0.25%;
        margin-right: 0.25%;
    }
}

div {
    font-family: 'data';
}

.colorchange {
    background-color: white;
    display: flex;
    justify-content: center;
}